importFrom("grDevices", "dev.new")
importFrom("graphics", "plot")
importFrom("stats", "coef", "factanal", "predict", "qnorm")
importFrom("methods", "hasArg")
export(decorrelate.train)
export(FADA)
export(decorrelate.test)
import(MASS)
import(elasticnet)
import(sparseLDA)
import(glmnet)
import(mnormt)
import(crossval)
import(corpcor)
import(matrixStats)